// 主窗口背景色
$mainBgColor: #f0f3f4;
// 左边宽度
$leftSideBarWidth: 200px;
// 顶部高度
$headerHeight: 50px;
// 顶部背景色
$headerBgColor: #191e2b;
// 头部下方面包屑高度
$headerBreadcrumbHeight: 34px;
// 头部面包屑下tab导航高度
$headerTabNavHeight: 36px;

// 左侧 Menu 收起
$menu-collapsed-width: 54px;

// dark theme
$menu-dark-bg: #141F33;
