@mixin btn($name, $color) {
  &.#{$prefix-name}btn-#{$name} {
    color: white !important;
    background-color: $color !important;
    border-color: $color !important;
    &:hover {
      cursor: pointer !important;
      background-color: $color !important;
    }
    &:active, &.active {
      background-color: $color !important;
    }
    &.#{$prefix-name}btn-line {
      color: $color !important;
      background-color: #fff !important;
      border-color: $color !important;
    }
  }
}


//btn
.#{$prefix-name}btn {
  display: inline-block !important;
  outline: none !important;
  border: 1px solid transparent !important;
  text-align: center !important;
  background-color: white !important;
}

//btn color
@each $name, $color in $color-group {
  @include btn($name, $color);
}
